


<aside class="sidebar">
      <h2>ERP SYSTEM</h2>
      <nav>
       <ul>
        <li class="nav-item" onclick="showPage('dashboard', this)">Dashboard</li>
        <li class="nav-item" onclick="showPage('vendors', this)">Vendors</li>
        <li class="nav-item" onclick="showPage('requisitions', this)">Requisitions</li>
        <li class="nav-item" onclick="showPage('orders', this)">Orders</li>
        <li class="nav-item" onclick="showPage('receipts', this)">Receipts</li>
        <li class="nav-item" onclick="showPage('invoices', this)">Invoices</li>
        <li class="nav-item" onclick="showPage('inventory', this)">Inventory</li>
        </ul>
      </nav>
    </aside>